custom domains with IP v4 nameservers are broken

From the updated site notes:
```
* your nameserver has a native IPv6 address - just use it!

* your nameserver only has IPv4 (e.g. 192.0.2.33), then create a IPv6
      address like shown below and enter it into the nsupdate.info form field:

     +-------------------+--------------+----------------------------+
     | Well-Known Prefix | IPv4 address | IPv4-Embedded IPv6 address |
     +-------------------+--------------+----------------------------+
     | 64:ff9b::/96      |  192.0.2.33  | 64:ff9b::192.0.2.33        |
     +-------------------+--------------+----------------------------+
     (taken from RFC 6052, section 2.4)

     NOTE: due to changes in tayga, this does not work any more since we
     moved to a new VM host at 2021-11-06.

     An immediate fix is possible if you can enter a valid public IP v6
     of your DNS server.

     If that is not possible, make sure your DNS server has a valid A
     record at least, so it can be referred to by FQDN.
     With that and a fix to the nsupdate.info code, we can make
     it working later again based on the FQDN of your nameserver.
```


TODO for the code:

the fields for primary and optional secondary DNS servers have a validator that checks for IP v4 or v6 address.

we need to allow entering a FQDN also. at lookup time, dns64 will then transform a v4 address automatically to a working v6 address.


```
nsupdate.main.models.Domain
rename nameserver_ip -> nameserver
rename nameserver2_ip -> nameserver2
change validators / field types
create / apply migration
```